<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>2.姓名案例-methods实现</title>
  <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
  <div id="root">
    <input type="text" v-model="firstName"/><br/><br/>
    <input type="text" v-model="lastName"/><br/><br/>
    <!-- 通过methods实现 -->
    <div>{{fullName()}}</div>
  </div>
</body>
<script type="text/javascript">
  Vue.config.productionTip = false; // 阻止 vue 在启动时生成生产提示
  new Vue({
    el: '#root',
    data: {
      firstName: '张',
      lastName: '三'
    },
    methods: {
      fullName() {
        return this.firstName + '-' + this.lastName;
      }
    }
  })
</script>
</html>