<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>5.姓名案例-watch语法实现</title>
  <script type="text/javascript" src="../js/vue.js"></script>
  <!-- 
    computed和watch之间的区别：
      1.computed能完成的功能，watch都可以完成。
      2.watch能完成的功能，computed不一定能完成。例如：watch可以进行异步採作。
    两个重要的小原则：
      1.所有被Vue管理的函数，最好写成普通函数，这样this的指向才是vm 或 组件实例对象。
      2.所有不被Vue所管理的函数（定时器的回调函数、ajax的回调函数等），最好写成箭头函数，这样this的指向才是vm 或 组什实例对象。
     -->
</head>

<body>
  <div id="root">
    <input type="text" v-model="firstName" /><br /><br />
    <input type="text" v-model="lastName" /><br /><br />
    <!-- 通过插值语法实现 -->
    <div>{{fullName}}</div>
  </div>
</body>
<script type="text/javascript">
  Vue.config.productionTip = false; // 阻止 vue 在启动时生成生产提示
  new Vue({
    el: '#root',
    data: {
      firstName: '张',
      lastName: '三',
      fullName: '张-三'
    },
    watch: { // 通过监视属性实现computed的功能
      firstName(val) {
        // this.fullName = val + '-' + this.lastName;
        // 实现延迟更新的功能
        setTimeout(() => {
          this.fullName = val + '-' + this.lastName;
        }, 1000);
      },
      lastName(val) {
        this.fullName = this.firstName + '-' + val;
      }
    }
  })
</script>

</html>